fastapi
uvicorn
pydantic
email-validator
requests
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
onnxruntime
numpy<2.0.0
opencv-python-headless
torch
torchvision
pyyaml
scipy
matplotlib
pillow
tqdm
psutil
pandas
seaborn
ultralytics
google-auth
